a, a:visited, a:link, a:active, a:focus {
  color: var(--color-primary);
}

h1, .h1 {
  margin: 1.5rem 0 2rem;

  font-size: 3rem;
  font-weight: 700;
  line-height: 1;

  color: var(--color-black);
}

h2, .h2 {
  margin: 1rem 0 1.5rem;

  font-size: 2rem;
  font-weight: 500;
  line-height: 1;

  color: var(--color-darker);
}

p {
  margin: .7rem 0;

  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-dark);
}